<h1>Welcome to SFDining</h1>
<p>An online tool for booking group dinners</p>
<p>This is a tool to help Executive Assistant to book dinner reservations for large groups. A yearly subscription fee of $100.00 applies to use this service. </p>

<%= link_to("Restaurants", restaurants_path) %>
<%= link_to("Add restaurants", new_restaurant_path) %>


<!-- 
<%= link_to("Edit first restaurant", edit_restaurant_path( Restaurant.first )) %>
-->


